communicationitem.xsd

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:goodsrelease="urn:goodsrelease"
	targetNamespace="urn:communicationitem"
	xmlns:tns="urn:communicationitem"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
	
	<xs:import namespace="urn:goodsrelease" schemaLocation="goodsrelease.xsd"/>
	

	<xs:simpleType name="MrnType">
		<xs:restriction base="xs:token">
			<xs:length value="18"/>
			<xs:pattern value="[0-9]{2}[A-Z]{2}[A-Z0-9]{12}(R|V)[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="UserNavId">
		<xs:restriction base="xs:token">
			<xs:pattern value="[23][0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:complexType name="AisCommunicationBaseItem">
        <xs:sequence>
            <xs:element name="docId" type="xs:int"/>
            <xs:element name="aisMessageType" type="xs:string"/>
            <xs:element name="aisMessageTime" type="xs:dateTime"/>
            <xs:element name="aisMessageGUID" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="AisCommunicationSentItem">
        <xs:complexContent>
            <xs:extension base="tns:AisCommunicationBaseItem">
                <xs:sequence>
                    <xs:element name="userName" type="xs:string" minOccurs="0"/>
					<xs:element name="userNavId" type="tns:UserNavId" minOccurs="0"/>
					<xs:element name="aisMrn" type="tns:MrnType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<xs:complexType name="AisCommunicationAnswerItem">
        <xs:complexContent>
            <xs:extension base="tns:AisCommunicationBaseItem">
                <xs:sequence>
					<xs:element name="aisMrn" type="tns:MrnType" minOccurs="0"/>
                    <xs:element name="aisMessage" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AisCommunicationItem429">
        <xs:complexContent>
            <xs:extension base="tns:AisCommunicationAnswerItem">
                <xs:sequence>
					<xs:element name="aisReleaseTime" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="goodsRelease" type="goodsrelease:GoodsRelease"/>
					<xs:element name="goodsReleaseDocument" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="AisCommunicationItem413">
        <xs:complexContent>
            <xs:extension base="tns:AisCommunicationSentItem">
                <xs:sequence>
					<xs:element name="goodsRelease" type="goodsrelease:GoodsRelease"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>